DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/shop_commerce
JWT_SECRET=jwt-secret-key
SERVER_PORT=4002
INTERNAL_SERVER_PORT=4102
ACCOUNT_SERVICE_PORT=4101
CLIENT_URL=http://localhost:3000

# PortOne (결제)
PORTONE_STORE_ID=portone-store-id
PORTONE_API_KEY=portone-api-key
